#app {
  padding: 100px;
  font-family: 'Avenir LT Std', sans-serif;
}
nav ul{height:400px; width:80%}
p {
  margin:0 auto;
  width:600px;  
  white-space: normal;
  font-family: courier;
}
p.question{
  margin:0 auto;
  width:100%;  
  white-space: normal;
  font-family: courier;
  padding-top: 5%;
  padding-left: 8%;
  font-family: courier;

}
div.content{

  padding-right: 300px;
  padding-top: 50px;
}


nav ul{overflow:hidden; overflow-y:scroll;padding-left: 20px;}
.form-control {
  font-size: 2rem;
  padding: 25px 15px;
}
.btn {
width: 40%;
 
}
#next{
margin-left: 40px;
}
